<nav class="flexbox">
    <a href="{{ path('app_acceuil') }}" class="itemNonActuel item">{{ "Accueil"|upper  }}</a>
    <a href="{{ path('app_projets') }}" class="itemNonActuel item">{{ "Projets"|upper  }}</a>
    <a href="{{ path('app_cv') }}" class="itemActuel item">C.V.</a>
    <a href="{{ path('app_certifications') }}" class="itemNonActuel item">{{ "certifications"|upper  }}</a>
</nav>