<nav class="flexbox hollow_box" >
    <a href="{{ path('app_acceuil') }}" class="itemNonActuel item">{{ "Accueil"|upper  }}</a>
    <a href="{{ path('app_projets') }}" class="itemNonActuel item">{{ "Projets"|upper  }}</a>
    <a href="{{ path('app_cv') }}" class="itemNonActuel item">C.V.</a>
    <a href="{{ path('app_certifications') }}" class="itemNonActuel item">{{ "certifications"|upper  }}</a>
</nav>