{% extends 'base.html.twig' %}

{% block title %}Hello ProjetsController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/carrousel.css') }}">
    <div id="carrousel">
        <div id="container">
        </div>
        <img src="{{ asset('images/img.png') }}" class="bouton" id="d" alt=""/>
        <img src="{{ asset('images/img.png') }}" class="bouton" id="g" alt=""/>
    </div>
    <script>
        document.body.onload=function (){
            let tab = [
                "{{ asset('images/projets/SuperBreaker/Menu_Super_Breaker.png') }}",
                "{{ asset('images/projets/SpaceInvader/Menu_Space_Invader.png') }}"
            ];
            n = tab.length
            p = 0;
            container=document.getElementById("container");
            g=document.getElementById("g");
            d=document.getElementById("d");
            container.style.width=(800*n)+"px";
            for(let image of tab){
                div = document.createElement("div");
                div.className="photo";
                div.style.backgroundImage="url("+image+")";
                container.appendChild(div);
            }
            g.onclick=function (){
                p = (p+1)%n;
                moove();
            }
            d.onclick = function () {
                p = (p-1)%n;
                moove();
            }
            function moove(){
                container.style.transform = "translate(" + p * 800 + "px)";
                container.style.transition="all 0.5s ease"
            }
        }
    </script>


    <h1>Projets</h1>
{#    {% for projet in getProjets() %}#}
{#        {% set titre = projet.titre %}#}
{#        {% set lienProjet = projet.lienProjet %}#}
{#        {% set lienDemo = projet.lienDemo %}#}
{#        {% set lienImage = projet.lienImage %}#}
{#        {% set description = projet.description %}#}
{#        {% set classeRealisation = projet.classeRealisation %}#}
{#        {% set anneeRealisation = projet.anneeRealisation %}#}
{#        {% set languageUtlises = projet.languageUtlises %}#}

{#        <h2>{{ titre }}</h2>#}
{#        <p>{{ description }}</p>#}
{#        <img src="{{ asset(lienImage) }}" alt="">#}
{#        <a href="{{ lienProjet }}">Lien vers le projet</a>#}
{#        <a href="{{ lienDemo }}">Lien vers la démo</a>#}
{#        <p>Réalisé en {{ classeRealisation }}, {{ anneeRealisation }}</p>#}
{#        <p>Langues utilisées : {{ languageUtlises }}</p>#}
{#    {% endfor %}#}
{% endblock %}
